* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.welcomeSection {
    background-image: url('https://images.pexels.com/photos/6757648/pexels-photo-6757648.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 50rem;
    min-width: fit-content;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header span {
    font-size: 2.7rem;
    font-weight: 700;
    color: rgba(235, 222, 120, 0.9);
    text-shadow: 2px 2px 2px black;
}

header ul {
    display: flex;
    justify-content: space-around;
    margin: 5%;
}

header ul li {
    padding: 8px;
    list-style: none;
    font-size: 1.65rem;
}

header ul li a {
    text-decoration: none;
    font-weight: 500;
    color: rgba(235, 222, 120, 0.9);
    text-shadow: 2px 2px 2px black;
    border: 1px solid rgba(235, 222, 120, 0.9);
    padding: 2px 4px;
    border-radius: 5%;
}

header ul li a:hover {
    color: beige;
    border-color: beige;
    transition: 400ms;
}

.button-nav {
    display: none;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 80%;
    justify-content: center;
}

.heroText {
    font-size: 2.4rem;
    max-width: 55rem;
    color: burlywood;
    text-shadow: 3px 3px 2px rgb(80, 66, 47);
}

.heroButtons {
    margin-top: 3%;
}

.btn {
    display: inline-block;
    background-color: rgb(222, 184, 135, 0.8);
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    text-decoration: none;
    color: black;
    font-weight: 700;
    position: relative;
    overflow: hidden;
}

.btnOne::before  {
    content: "";
    position: absolute;
    background-color: rgba(235, 222, 120, 0.9);
    width: 0px;
    height: 0px;
    /*variables to be manipulated on JS*/
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width 0.7s, height 0.7s;
}

.btnTwo::before  {
    content: "";
    position: absolute;
    background-color: rgba(235, 222, 120, 0.9);
    width: 0px;
    height: 0px;
    /*variables to be manipulated on JS*/
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width 0.7s, height 0.7s;
}

.btnOne:hover::before, .btnTwo:hover::before {
    width: 400px;
    height: 400px;
}

.btn span {
    position: relative;
    z-index: 1;
}

#aboutUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 5%;
}

#aboutUs h2 {
    font-size: 2.7rem;
}

#aboutUs p {
    font-size: 1.3rem;
    font-style: italic;
    width: 80%;
    padding: 10px 0px;
}

.aboutUsSubInfo {
    display: flex;
    width: 100%;
    overflow: hidden;
    margin-top: 3%;
}

.aboutUsSubInfo img {
    display: block;
    width: 35%;
    margin: 2%;
    height: auto;
    min-width: 160px;
    padding: 2px;
    border: 1px solid grey;
}

.aboutUsSubText {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items:flex-start;
    justify-content: center;
    margin: 1%;
}

.aboutUsSubText h3 {
    font-size: 2.2rem;
}

#services {
    text-align: center;
    width: 100%;
    margin: 2% 0px;
    font-size: 1.2rem;
}

#projects {
    text-align: center;
    font-size: 2rem;
}

#projects .projectsCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:0.5rem;
    margin: 2%;
}

.projectTwo {
    background-image: url('https://images.pexels.com/photos/279707/pexels-photo-279707.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#contact {
    display: flex;
}

/*profilactic*/
img {
    width: 100%;
}

@media only screen and (max-width: 1132px) {
    .welcomeSection {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    header span {
        font-size: 1.55rem;
        transition: 300ms;
    }

    header ul li {
        font-size: 1rem;
        transition: 300ms;
        margin-right: 10%;
    }
}

@media only screen and (max-width: 620px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    header ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 5%;
    }

    header span {
        font-size: 1.55rem;
        transition: 300ms;
    }

    header ul li {
        font-size: 1rem;
        transition: 300ms;
    }

    .button-nav {
        display: inline-block;
        background: transparent;
        border: 3px solid var(--button-color, white);
        border-radius: 0.5rem;
        box-shadow: 2px 2px 2px black;
        --button-color: rgba(235, 222, 120, 0.75);
        margin-right: 5%;
        cursor: pointer;
    }
    
    .button-nav .line {
        transition: 600ms;
    }
    
    .button-nav[aria-pressed="true"] :is(.top, .bottom) {
        y: 50;
    }

    .mobileView {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: 3%;
    }

    header nav .menu {
        display: none;
        max-height: 0;
        transition: max-height 200ms ease-out;
    }

    header nav .menu[aria-pressed="true"] {
        display: inline-block;
        max-height: 2rem;
        transition: max-height 200ms ease-out;
    }

    .heroText {
        font-size: 2rem;
        max-width: 55rem;
        color: burlywood;
        text-shadow: 3px 3px 2px rgb(80, 66, 47);
    }
}

@media only screen and (max-width: 800px) {
    #aboutUs h2 {
        font-size: 2.2rem;
    }
    
    #aboutUs p {
        font-size: 1rem;
        font-style: italic;
        width: 80%;
    }

    .aboutUsSubText h3 {
        font-size: 1.8rem;
    }
}