* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

html {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.welcomeSection {
    background-image: url('https://images.pexels.com/photos/6757648/pexels-photo-6757648.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 50rem;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header span {
    font-size: 2.7rem;
    font-weight: 700;
    color: rgba(235, 222, 120, 0.9);
    text-shadow: 1px 1px;
}

header ul {
    display: flex;
    justify-content: space-around;
    margin: 5%;
}

header ul li {
    padding: 8px;
    list-style: none;
    font-size: 1.65rem;
}

header ul li a {
    text-decoration: none;
    font-weight: 500;
    color: rgba(235, 222, 120, 0.9);
    border: 1px solid rgba(235, 221, 153, 0.55);
    border-radius: 5%;
}

header ul li a:hover {
    color: beige;
    border-color: beige;
    transition: 400ms;
}

.button-nav {
    display: none;
}

/*profilactic*/
img {
    width: 100%;
}

@media only screen and (max-width: 1132px) {
    .welcomeSection {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    header span {
        font-size: 1.55rem;
        transition: 300ms;
    }

    header ul li {
        font-size: 1rem;
        transition: 300ms;
    }
}

@media only screen and (max-width: 600px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    header ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 5%;
    }

    header span {
        font-size: 1.55rem;
        transition: 300ms;
    }

    header ul li {
        font-size: 1rem;
        transition: 300ms;
    }

    .button-nav {
        display: inline-block;
        background: transparent;
        border: 3px solid var(--button-color, white);
        border-radius: 0.5rem;
        --button-color: rgba(235, 222, 120, 0.75);
    }
    
    .button-nav .line {
        transition: 600ms;
    }
    
    .button-nav:active, .button-nav:hover :is(.top, .bottom) {
        y: 50;
    }

    .button-nav[aria-pressed="true"] and header nav .menu {
        display: block;
        max-height: 2rem;
        transition: max-height 200ms ease-out;
}

    .mobileView {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: 3%;
    }

    header nav .menu {
        display: none;
        max-height: 0;
        transition: max-height 200ms ease-out;
    }
}
